    <!DOCTYPE html>
    <html lang="es">

    <head>
        <%- include('partials/head.ejs') %>
        <script src="/js/carrusel.js"></script>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <section >
                <a href="/products"> <img class="bannerresponsive" src="/images/resources/responsive2.png"></a>
            </section>

            <section class="bannersup" >
                <div>
                    <img src="/images/resources/bannersuperior.gif">
                </div>
            </section>

            <section>
                <div class="slider">
                        <a href="/products" class="imagen" ><img  href="/products" src="/images/resources/slider.gif"/></a>                
                    <a class="imagen actual" href="/products"><img src="/images/resources/slider1.png"/></a>
                    <a class="imagen" href="/products/productsCat"><img src="/images/resources/slider2.png"/></a>
                    <a href="/products/productsDog" class="imagen"><img src="/images/resources/slider3.png"/></a>
                    <a href="/products/productsCat" class="imagen"><img src="/images/resources/slider4.png"/></a>
                    <a href="/products/productsDog" class="imagen"><img src="/images/resources/slider5.png"/></a>
                    <a href="/products/productsCat" class="imagen"><img src="/images/resources/slider6.png"/></a>
        
                    <a href="#" class="anterior" onclick="anterior();">&#10094;</a>
                    <a href="#" class="siguiente" onclick="siguiente();">&#10095;</a>
        
                    <div class="puntos">
                        <span class="punto activo" onclick="mostrar(0);"></span>
                        <span class="punto" onclick="mostrar(1);"></span>
                        <span class="punto" onclick="mostrar(2);"></span>
                        <span class="punto" onclick="mostrar(3);"></span>
                        <span class="punto" onclick="mostrar(4);"></span>
                        <span class="punto" onclick="mostrar(5);"></span>
                        <span class="punto" onclick="mostrar(6);"></span>
                    </div>
        
                    <div class="boton">
                        <a href="#"><img src="/images/resources/pause.png" id="btn" onclick="playpause();"/></a>
                    </div>
            </section>

            <section class="bannerinf">
                <div>
                    <img src="/images/resources/bannerinferior.gif">
                </div>
            </section>

            <section class="desktop">
                <h2 class="titulos titulo-destacados">ヂPRODUCTOS DESTACADOS ESTA SEMANA!ヰ</h2>
                <% productosDestacados.forEach(product => { %>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="flip-card" src="<%= product.image %>" alt="<%= product.name %>" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h3 class="card-title"><%= product.name %></h3>
                                <p class="card-text">Precio: $<%= product.price %></p>
                                <p class="card-text">Presentaci贸n: <%= product.package %> Kg</p>
                                <a href="/products/productDetail/<%= product.id %>">
                                    <button class="ver-producto">Ver Producto</button>
                                </a>
                            </div>
                        </div>

                    </div>
                <% }); %>
            </section>

            <section class="mobile">
                <h3 class="titulos">PRODUCTOS DESTACADOS 
                    ESTA SEMANAヰ</h3>

                <% productosDestacados.forEach(product => { %>
                <div class="mobile-card">
                    <img src="<%= product.image %>" alt="<%= product.name %>" style="width:100%">
                    <p class="titulos"><%= product.name %></p>
                    <p class="card-text">Precio: $<%= product.price %></p>
                    <p class="card-text">Presentaci贸n: <%= product.package %> Kg</p>
                        <button class="mobile-ver-producto">Ver Producto</button>
                  </div>
                  <br>
                  <% }); %>
            </section>

            <section class="desktop">
                <h2 class="titulos titulo-gatos">TODOS NUESTROS PRODUCTOS PARA GATOS</h2>
                <div class="card-container">
                    <% gato.forEach(product => { %>
                        <div class="container">
                            <img src="<%= product.image %>" alt="<%= product.name %>" class="image">
                            <div class="middle">
                                <button data-quantity="1" class="ver-producto add_cart"data-id="<%= product.id %>">Comprar</button>
                            </div>
                        </div>
                    <% }); %>
                </div>            
            </section>

            <section >
                <a href="/products"> <img class="bannerresponsive" src="/images/resources/responsive3.png"></a>
            </section>

            <section class="mobile">
                <h2 class="titulos titulo-gatos">TODOS NUESTROS PRODUCTOS PARA GATOS</h2>

                <% gato.forEach(product => { %>
                    <div class="mobile-card">
                        <img src="<%= product.image %>" alt="<%= product.name %>" style="width:100%">
                        <p class="titulos"><%= product.name %></p>
                        <p class="card-text">Precio: $<%= product.price %></p>
                        <p class="card-text">Presentaci贸n: <%= product.package %> Kg</p>
                        <a href="/products/productDetail/<%= product.id %>">
                            <button class="mobile-ver-producto">Ver Producto</button>
                      </div>
                      <br>
                      <% }); %>                
            </section>

            <section class="desktop">
                <h2 class="titulos titulo-gatos">TODOS NUESTROS PRODUCTOS PARA PERROS</h2>
                <div class="card-container">
                    <% perro.forEach(product => { %>
                        <div class="container">
                            <img src="<%= product.image %>" alt="<%= product.name %>" class="image">
                            <div class="middle">
                                <button href="" data-quantity="1" class="ver-producto add_cart" rel="nofollow" data-id="<%= product.id %>">Comprar</button>
                            </div>
                        </div>
                    <% }); %>
                </div>            
            </section>

            <section >
                <a href="/products"> <img class="bannerresponsive" src="/images/resources/responsive5.png"></a>
            </section>

            <section class="mobile">
                <h2 class="titulos titulo-gatos">TODOS NUESTROS PRODUCTOS PARA PERROS</h2>

                <% perro.forEach(product => { %>
                    <div class="mobile-card">
                        <img src="<%= product.image %>" alt="<%= product.name %>" style="width:100%">
                        <p class="titulos"><%= product.name %></p>
                        <p class="card-text">Precio: $<%= product.price %></p>
                        <p class="card-text">Presentaci贸n: <%= product.package %> Kg</p>
                        <a href="/products/productDetail/<%= product.id %>">
                            <button class="mobile-ver-producto">Ver Producto</button>
                      </div>
                      <br>
                      <% }); %>                
            </section>

        </main>
        <%- include('partials/footer.ejs') %>
    </body>
    </html>