<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="tarjeta">
                <img class="tarjeta-img" src="<%= product && product.image %>" alt="Imagen del Producto">
                <h2><%= locals.product && product.name %></h2>
                <p class="tarjeta-title">Descripción: <%= locals.product && product.description %></p>
                <p class="tarjeta-title">En presentación de: <%= locals.product && product.package %>Kg</p>
                <p class="tarjeta-title">Precio: $<%= locals.product && product.price %></p>
                <p ><button data-quantity="1" class="add_cart tarjeta-button" rel="nofollow" data-id="<%= product.id %>">¡Añadir al Carrito!</button></p>
                <p><button class="tarjeta-button" onclick="goBack()">Volver</button></p>
              </div>
                <script>
                    function goBack() {
                        window.history.back()
                    }
                </script>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
        <script src="/js/cart.js"></script>
    </body>
</html>
