<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="create-product-button"><a href="/products/productCreation"><button type="submit"><img src="/images/resources/icons8-m치s.svg">CREAR NUEVO PRODUCTO</button></a></div>
         <%- include('../partials/filter.ejs') %>
            <section class="Perro">
                <h3 class="titulares">Seccion Perros</h3>
                <div class="producto">
                    <% locals.perro && perro.forEach(product => { %>
                    <article>
                        <img src="/images/products/<%= product.image %>" alt="Imagen Producto Perros" class="img-producto"width="300px">
                        <div class="main-article">
                            <a href="/products/productDetail/<%= product.id %>"><h4 class="Descripcion"><%= product.name %></h4></a>
                            <p class="precio"> $<%= product.price %> </p>
                            <p class="package"> Presentaci칩n en: <%= product.package %>Kg </p>
                            <button href="" data-quantity="1" class="boton-producto add_cart" rel="nofollow" data-id="<%= product.id %>">Comprar</button>
                            <div class="boton-producto"><a href="/products/<%= product.id %>/productEditor"><button type="submit">Editar</button></a></div>
                        </div>
                    </article>
                    <% }) %>
                </div>
            </section>
            <section class="Gatos">
                <h3 class="titulares">Secci칩n Gatos</h3>
                <div class="producto">
                    <% locals.gato && gato.forEach(product => { %>
                    <article>
                        <img src="/images/products/<%= product.image %>" alt="Imagen Producto Gatos" class="img-producto"width="300px">
                        <div class="main-article">
                            <a href="/products/productDetail/<%= product.id %>"><h4 class="Descripcion"><%= product.name %></h4></a>
                            <p class="precio"> $<%= product.price %> </p>
                            <p class="package"> Presentaci칩n en: <%= product.package %>Kg </p>
                            <button href="" data-quantity="1" class="boton-producto add_cart" rel="nofollow" data-id="<%= product.id %>">Comprar</button>
                            <div class="boton-producto"><a href="/products/<%= product.id %>/productEditor"><button type="submit">Editar</button></a></div>
                        </div>
                    </article>
                    <% }) %>
                </div>
            </section> 
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>