<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>

        <%- include('../partials/header.ejs') %>
    <main>
        <form class="container-form-product" action="/products/<%= product.id %>/productEditor?_method=PUT" 
            method="POST" enctype="multipart/form-data">
            <div class="form-product">
                <h4>ESTÁS EDITANDO: <%= product ? product.name : '' %></h4>
                <div>
                    <div class="items-form-product">
                        <label for="text">NOMBRE DEL PRODUCTO</label>
                        <input type="text" name="name" placeholder="Ingrese el nombre del producto" value="" />
                    </div>
					<div class="items-form-product">
						<label for="category">CATEGORÍA DEL PRODUCTO:</label>
						<select name="category" id="category">
							<option value="">SELECCIONAR</option>
							<option value="gato" <%= locals.oldData?.category === 'gato' ? 'selected' : '' %>>GATOS</option>
							<option value="perro" <%= locals.oldData?.category === 'perro' ? 'selected' : '' %>>PERROS</option>
						</select>
                        <% if (locals.errors?.category) { %>
                            <p><%= errors.category.msg %></p>
                        <% } %>
					</div>
                    <div class="items-form-product">
                        <label for="text">DESCRIPCION</label>
                        <input type="text" id="description" name="description" placeholder="Ingrese descripcion" />
                    </div>
                    <div class="items-form-product">
                        <label for="text">PRESENTACION</label>
                        <input type="number" id="package" name="package" placeholder="Ingrese kg" />
                    </div>
                    <div class="items-form-product">
                        <label for="number">PRECIO</label>
                        <input type="number" id="price" name="price" placeholder="Ingrese precio" />
                    </div>
                    <div class="items-form-product"><label>Imagen producto:
                        <input type="file" name="image" id="image"></label>
                    </div>
                </div>
                <div class="button-editor-product">
                    
                    <div class="boton-submit"><button type="submit">ACTUALIZAR DATOS</button></div>
                </div>
            </div>
        </form>
        <div class="button-editor-product">
            <div class="boton-submit"><form method="POST" 
                action="/products/<%= product.id %>/productEditor?_method=DELETE">
                <button type="submit">ELIMINAR PRODUCTO</button></form></div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>

    </body>
</html>