<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <main class="Products-description-main">
            <div class="product-image">
                <img src="/images/products/<%= locals.product && product.image %>" alt="Imagen del Producto">
            </div>
            <div class="product-description">
                <h2><%= locals.product && product.name %></h2>
                <br>
                <p>Descripción: <%= locals.product && product.description %></p>
                <br>
                <p>En presentación de: <%= locals.product && product.package %>Kg</p>
                <br>
                <p>Precio: $<%= locals.product && product.price %></p>
                <br>
                <button>Añadir al Carrito</button>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
