<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-container-ord">
        <div class="table-container-ord">
            <h2>Pedido de Compra N°<%= order.id %></h2>
            <table class="table-ord">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">
                                        <strong>#</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>Producto</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>Imagen</strong>
                                    </th>
                                    <th class="th-lg ">
                                        <strong>Precio</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Cantidad</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Subtotal</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="cartRows">
                                <% for (let i = 0; i < order.orderItems.length; i++) { %>
                                    <tr>
                                        <th scope="row"><%= i + 1 %></th>
                                        <td><%= order.orderItems[i].name %></td>
                                        <td>
                                            <% if (order.orderItems[i].product) { %>
                                                <img src="<%= order.orderItems[i].product.image %>" alt="Imagen del Producto">
                                            <% } %>
                                        </td>
                                        <td>$ <%= order.orderItems[i].price %></td>
                                        <td><%= order.orderItems[i].quantity %></td>
                                        <td class=""><%= order.orderItems[i].price * order.orderItems[i].quantity %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="total-container-ord">
                            <br>
                            <h2 stlye="margin-left: 10px">Total: <span class="totalAmount">$ <%= order.total %></span></h2>
                        </div>
                    </div>

                    <div class="details-container-ord">
                        <br>
                        <div>
                            <p><strong>Tipo Envío: </strong><%= order.shippingMethod %></p>
                        </div>
                        <br>
                        <div>
                            <p><strong>Pago: </strong> <%= order.paymentMethod %></p>
                        </div>
                        <br>
                        <div>
                            <a href="/users/profile" class="tarjeta-button order-button">Volver a mis pedidos</a>
                        </div>
                        <br>
                        <div>
                            <a href="" class="tarjeta-button">Ir a Pagar</a>
                        </div>
                    </div>
                </main>
                <%- include('../partials/footer.ejs') %>
            </body>
            
            </html>